.warning{
    background-color: #ffaa00;
    height: 4rem;
    display: grid;
    align-items: center;
    padding-left: 1rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.warning h1{
    font-size: 1.6rem;
}
iframe{
    width: 100%;
    height: 60rem;
}
.info-section{
    margin: 5rem 0;
    display: flex;
    gap: 2rem;
}
.movie-info-poster{
    width: 15rem;
    border-radius: 5%;
}
.movie-title{
    font-size: 3.3rem;
}
.movie-info button{
    background-color: white;
    outline: none;
    font-size: 1.5rem;
    margin: 1.2rem 1.2rem 1.2rem 0;
    text-align: center;
    border: .1rem solid black;
    padding: .2rem;
    width: 9rem;
    height: 4rem;
    border-radius: 15rem;
}
.movie-info p{
    font-size: 1.6rem;
}
@media screen and (max-width: 650px) {
    .warning{
        height: 8rem;
    }
    .info-section{
        flex-direction: column;
    }
}