.warning{
    width: 100%;
    background-color: #ffaa00;
    height: 4rem;
    display: grid;
    align-items: center;
    padding-left: 1rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.warning h1{
    font-size: 1.6rem;
}
#video-id, .fluid_video_wrapper{
    width: 100%;
    height: auto;
}
div#video-id_fluid_context_menu{
    font-size: 3.5rem;
}
.fluid_video_playback_rates_item{
    font-size: 1.5rem;
}
iframe{
    width: 100%;
    height: 60rem;
}