.selection-section{
    background-color: #111;
    color: white;
    padding: 0 5%;
}
.selection-title{
    font-size: 1.8rem;
    padding: 1.3rem 0;
}
select{
    font-size: 1.5rem;
    width: 95%;
    height: 4rem;
    border-radius: .7rem;
    padding-left: 2rem;
    border: none;
    background-color: #333;
    color: white;
    margin-bottom: 3rem;
}
option{
    font-size: 1.5rem;
}
.episode-btn-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.episode-btn{
    width: 25rem;
    font-size: 1.5rem;
    border-radius: .7rem;
    border: none;
    height: 5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: #333;
    color: white;
}
.episode-btn:hover{
    background-color: var(--accent-color);
}
.active, .active:hover{
    background-color: var(--accent-color);
    color: white;
}