*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    --primary-color: #11551155;
    --secondary-color: #59815b;
    --imdb-rating-color: #d49c01;
    scroll-behavior: smooth;
    font-family: arial;
}
nav{
    width: 100%;
    height: 9rem;
    position: fixed;
    background-color: #273227;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.nav-container{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_and_icon{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.menu{
    font-size: 4.5rem;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
    height: 3rem;
}
.icon{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.search-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 55rem;
    height: 4rem;
    border-radius: 10rem;
}
.search{
    outline: none;
    border: none;
    width: 50rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
}
.search-icon{
    font-size: 2rem;
}
.login-btn{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    transition: 150ms;
}
.fa-user{
    font-size: 2rem;
    margin-right: 1rem;
}
.login-btn:hover{
    color: var(--secondary-color);
}
.container{
    background-color: var(--primary-color);
    min-height: 100vh;
    padding: 12rem 10rem;
}
.description{
    background-color: white;
}
.description p {
    font-size: 1.5rem;
    text-align: justify;
    padding: 1.5rem;
}
.movies-shows-container{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 3rem;
}
.trending-btns{
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 7rem;
    height: 3rem;
    border-radius: .5rem;
}
.btn-active{
    background-color: var(--secondary-color);
    color: white;
}
.section-title{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.title-name{
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.content-section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.tile{
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 13rem;
    height: 20rem;
}
.poster-link{
    position: relative;
}
.poster_img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.fa-circle-play{
    font-size: 5rem;
    position: absolute;
    bottom: 8rem;
    left: 4rem;
    color: var(--secondary-color);
    opacity: 0;
}
.poster_img:hover + .fa-circle-play{
    transition: 250ms ease-in-out;
    opacity: 1;
}
.poster_img:hover{
    transition: 250ms ease-in-out;
    opacity: .8;
}
.fa-circle-play:hover{
    opacity: 1;
}
.show-title{
    overflow: hidden;
    max-height: 1.9rem;
    max-width: fit-content;
}
.show-title-link, .imdb-show-title-link{
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #111;
    line-height: 2rem;
}
.show-title-link:hover, .imdb-show-title-link:hover{
    transition: 200ms ease-in-out;
    color: var(--secondary-color);
}
.show-info{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    justify-content: space-around;
    font-size: 2rem;
    color: #666;
}
.show-quality{
    background: var(--secondary-color);
    color: white;
    border-radius: 10%;
    width: 3rem;
    height: 1.6rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.dot{
    width: 0.4rem;
    height: 0.4rem;
    background: #666;
    border-radius: 100%;
}
.imdb-tile{
    margin-top: 2rem;
    display: flex;
    gap: 2.5rem;
}
.imdb-poster-link{width: 30%;}
.imdb-img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.imdb-show-title{
    margin-bottom: 1rem;
    max-height: 1.8rem;
    max-width: fit-content;
    overflow: hidden;
}
.imdb-show-info{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #666;
    width: 13rem;
    justify-content: space-between;
}
.rating{
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--imdb-rating-color);
}
.footer{
    width: 100%;
    height: 15rem;
    background: #181818;
}
.footer-contents{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.footer-des{
    font-size: 1.5rem;
    width: 40%;
    text-align: justify;
}
.credits{
    font-size: 1.5rem;
}